<!DOCTYPE html>
<html lang="it">
    <head>
        <h1>Lista Settimanale</h1>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/color.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> 
    </head>

    <body>
        <table class="table">
            <thead>
                <!-- Nomi delle colonne -->
                <tr>
                <th>Data</th>
                <th>Totale Bambini</th>
                </tr>
                
            </thead>

            <tbody>
                {% for data in asili_l %}
                    {% if asili_l[data]["totale_bambini"] > 0 %}
                        {% if asili_l[data]["ev"] == True %}
                            <tr>
                            <td><mark><a href="/lista/{{data}}">{{data}}</a></mark></td>
                            <td><mark>{{asili_l[data]["totale_bambini"]}}</mark></td>
                            </tr>
                        {% else %}
                            <tr>
                            <td><a href="/lista/{{data}}">{{data}}</a></td>
                            <td>{{asili_l[data]["totale_bambini"]}}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>